
body{
    font-family: 'Montserrat', sans-serif;

    background: url(../images/car2.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 40px;
    overflow: auto;
}


.delay-1{
    animation-delay: 1.5s;
}

h1{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 7%;
}

h2{
    font-size: 25px;
    color: rgb(136, 1, 1);
    /* margin-left: 15%; */
    text-align: center;
    margin-top: 0%;
    font-weight: bold;
}

h3{
 display: inline;
}

p{
    font-size: 20px;
}

#header-top{
    max-width: 800px;
    margin: 0 auto;
}

.game-info{
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 280px; 
    margin-top: 10%;
}

#wins{
    font-size: 25px;
}

#losses{
    font-size: 25px; 
}

#winslosses{
    text-align: center;
    margin: 0 auto;
     width: 100px; 
}









